$main-font-family:'Montserrat' , sans-serif;
$main-font-weight:500;
$larger-font-weight:700;
$main-font-color:#ff6060;
$second-font-color:#ffffff;
$main-background-color:#ffffff;
$second-background-color:#f6f6f6;
$third-background-color:#000000;
$fourth-background-color:#ff6060;
